@import "../common/bulma/bulma";
@import "../common/fontawesome/scss/fontawesome";
@import "../common/fontawesome/scss/solid";

// Make `things` less highlighted
.content {
  code {
    padding: 0;
    color: currentColor;
    background: transparent;
  }
}

// For putting descriptions above the layer simulation on small screens
@media(max-width: ($desktop - 1)) {
  .is-reversed-desktop {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media(min-width: $desktop) {
  .is-vertical-desktop {
    writing-mode: vertical-rl;
  }
}

.is-wide-enough {
  min-width: 20em;
}

.is-tight {
  width: fit-content;
}

.has-fill-info {
  fill: $info
}
